/* background image*/
body  {
 background: url(images/bg.jpg) no-repeat 50% 50% fixed;
 background-size: cover;
}


// #color-overlay {
//   position: fixed;;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: black;
//   opacity: 0.6;
//

// THREE COLUMNS OF TEXT
.row4 {
  position: relative;
  margin-left: 12rem;
  display: flex;
  padding: 1em;
  margin-bottom: 4rem;
  margin-top: 1rem;
  width: 75%;
  div.box1{
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-bottom-style: outset;

  }
  div.box2{
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-bottom-style: outset;
  }
  div.box3{
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-bottom-style: outset;


  }
  span.date {
    color: gray;
    float: left;
    width: 89%;
    padding-bottom: .2rem;
  }
  p {
    display: inline-block;
    width: 94%;
  }
  span.readmore {
    padding-left: 5.5rem;
    color: $primaryRed;
  }
  h3 {
    width: 70%;
  }

}

span.article1 {
  width: 33%;

}
span.article2 {
  width: 33%;
}
span.article3 {
  width: 33%;
}

// grid of images (row5)

.row5 {
  width: 70%;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 5rem;
  text-align: center;
  .col-1 {
    width: 65%;
    height: 27em;
    display: inline-block;
    .two-photos {
      width: 96%;
      display: flex;
    }
    .lance {
      background-size: 23rem;
      margin-top: .5rem;
      margin-right: .5rem;
      height: 27em;
      width: 49%;
      display: inline-block;
      background-image: url("images/lance.png");
      background-repeat: no-repeat;
      background-position: center;
      border-style: solid;
    }
    .rodney {
      background-size: 25rem;
      margin-top: .5rem;
      margin-right: .5rem;
      height: 27em;
      width: 49%;
      display: inline-block;
      background-image: url("images/rodney.png");
      background-repeat: no-repeat;
      background-position: center;
      border-style: solid;
    }
    .steve {
      height: 27em;
      width: 95%;
      display: block;
      background-image: url("images/steve.png");
      background-repeat: no-repeat;
      background-position: center;
      border-style: solid;
      margin-top: .5rem;
    }
  }
  aside.tommy {
    background-size: 42rem;
    background-position: 49% 0px;
    vertical-align: top;
    background-repeat: no-repeat;
    height: 56em;
    background-image: url("images/tommy.png");
    width: 34%;
    display: inline-flex;
    border-style: solid;
  }
}



// skateboards
.row6 {
  border-bottom-style: outset;
  position: relative;
  display: inline-block;
  padding: 3%;
  background-color: white;
  margin-left: 27%;
  margin-bottom: 5%;
  img {
    border-style: none;
    padding: 0.2rem;
  }
}

.row6 img:hover {
  animation-duration: .5s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes grow {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }
