body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    color: yellow;
    width: 6rem; }

/* background image*/
body {
  background: url(images/bg.jpg) no-repeat 50% 50% fixed;
  background-size: cover; }

.row4 {
  position: relative;
  margin-left: 12rem;
  display: flex;
  padding: 1em;
  margin-bottom: 4rem;
  margin-top: 1rem;
  width: 75%; }
  .row4 div.box1 {
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-bottom-style: outset; }
  .row4 div.box2 {
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-bottom-style: outset; }
  .row4 div.box3 {
    background-color: white;
    margin: .5rem;
    padding: 1rem;
    border-bottom-style: outset; }
  .row4 span.date {
    color: gray;
    float: left;
    width: 89%;
    padding-bottom: .2rem; }
  .row4 p {
    display: inline-block;
    width: 94%; }
  .row4 span.readmore {
    padding-left: 5.5rem;
    color: #b31217; }
  .row4 h3 {
    width: 70%; }

span.article1 {
  width: 33%; }

span.article2 {
  width: 33%; }

span.article3 {
  width: 33%; }

.row5 {
  width: 70%;
  display: block;
  margin: 0 auto;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 5rem;
  text-align: center; }
  .row5 .col-1 {
    width: 65%;
    height: 27em;
    display: inline-block; }
    .row5 .col-1 .two-photos {
      width: 96%;
      display: flex; }
    .row5 .col-1 .lance {
      background-size: 23rem;
      margin-top: .5rem;
      margin-right: .5rem;
      height: 27em;
      width: 49%;
      display: inline-block;
      background-image: url("images/lance.png");
      background-repeat: no-repeat;
      background-position: center;
      border-style: solid; }
    .row5 .col-1 .rodney {
      background-size: 25rem;
      margin-top: .5rem;
      margin-right: .5rem;
      height: 27em;
      width: 49%;
      display: inline-block;
      background-image: url("images/rodney.png");
      background-repeat: no-repeat;
      background-position: center;
      border-style: solid; }
    .row5 .col-1 .steve {
      height: 27em;
      width: 95%;
      display: block;
      background-image: url("images/steve.png");
      background-repeat: no-repeat;
      background-position: center;
      border-style: solid;
      margin-top: .5rem; }
  .row5 aside.tommy {
    background-size: 42rem;
    background-position: 49% 0px;
    vertical-align: top;
    background-repeat: no-repeat;
    height: 56em;
    background-image: url("images/tommy.png");
    width: 34%;
    display: inline-flex;
    border-style: solid; }

.row6 {
  border-bottom-style: outset;
  position: relative;
  display: inline-block;
  padding: 3%;
  background-color: white;
  margin-left: 27%;
  margin-bottom: 5%; }
  .row6 img {
    border-style: none;
    padding: 0.2rem; }

.row6 img:hover {
  animation-duration: .5s;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate; }

@keyframes grow {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

.footer {
  background-color: white;
  padding: 1rem;
  margin-bottom: 3rem;
  position: center;
  margin-left: 27rem;
  width: 50%;
  display: inline-flex;
  border-bottom-style: outset; }

.foottext {
  width: 47%;
  color: gray; }
  .foottext p {
    margin-bottom: 5.9em; }

.footersocial {
  margin-right: 2%;
  padding: 0;
  margin: 0;
  color: whitesmoke;
  background-color: gray;
  width: 88%;
  padding: 1rem;
  display: inline-flex; }
  .footersocial .fa {
    padding-right: 2%;
    width: 100%;
    margin-left: 7%; }
  .footersocial img {
    width: 24%; }

.foottext2 {
  width: 47%;
  color: gray;
  margin-left: 1rem;
  border-bottom-style: inset;
  border-right-style: inset;
  border-left-style: solid;
  border-top-style: inset;
  padding: 1rem;
  font-size: 1rem; }
  .foottext2 .name {
    border: .1em solid gray;
    padding: 3%;
    margin-bottom: 2%; }
  .foottext2 .email {
    border: .1em solid gray;
    padding: 3%;
    margin-bottom: 2%; }
  .foottext2 .write {
    border: .1em solid gray;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 1%;
    padding-bottom: 19%;
    margin-bottom: 2%; }

.submit1 p {
  float: right;
  width: 50%;
  background-color: #b31217;
  padding: 2%;
  color: white;
  text-align: center; }

.main-content {
  margin: 0 auto; }

.row1 {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0;
  vertical-align: top; }

h6 {
  width: 60%;
  padding-left: 79%;
  padding-right: 1%;
  color: black;
  margin-top: 2rem; }
  h6.hover {
    color: green; }

.sociallinks {
  display: flex;
  border-left: .125rem dotted gray;
  padding-left: 1rem;
  padding-right: 3%; }
  .sociallinks .fa-facebook-square {
    color: #3b5998; }
  .sociallinks .fa-rss-square {
    color: yellow; }
  .sociallinks .fa-twitter-square {
    color: #00aced; }
  .sociallinks .fa-youtube-square {
    color: #b31217; }
  .sociallinks .fa-rss-square {
    color: #FA9B39; }
  .sociallinks span {
    float: right;
    color: red;
    margin-top: 1rem;
    color: red;
    margin-right: 1rem;
    border-bottom: .25rem solid gray; }

.row2 {
  margin-top: 3rem;
  display: flex;
  font-size: 1rem;
  color: white; }
  .row2 h2 {
    background-color: #b31217;
    padding: .1rem;
    border-style: solid;
    width: 100%;
    text-align: center;
    margin: .8em; }

.sliderimg img {
  width: 60rem;
  margin-left: 20%;
  padding: 0;
  height: 30rem;
  margin-top: 2rem;
  border-style: outset;
  border-color: white; }

.slider-buttons {
  margin-left: 53%;
  color: white;
  padding-top: 1rem; }

.grid {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 60px;
  top: 3em;
  margin-top: 9rem;
  margin-left: -3.9rem; }

#logo {
  position: absolute;
  top: 258px;
  right: 918px;
  width: 179px;
  height: 100px; }
